header {
    background-image: url("vacation.jpg");
    float: top;
    position: center;
    padding: 20px;
    padding-bottom: 20px;
    padding-colour: blue;
    border-bottom-color: lavender;
    font-feature-settings: normal;
    border-style: dotted;
    padding: 0;
}

.elem{
    float: left;
    margin: 10px;
    padding: 10px;
    list-style: disc;
}

.rightSide{
    float:top;
    padding: 50px;
    position: center;
}
.latestWork{
    bottom: 0;
    position: absolute;
}
.paveiksliukas{
    bottom: 0;
    position: absolute;
    justify-items: right;
    border-top-right-radius: 80px;
}
.teises{
    bottom: 0;
    position: absolute;
    justify-content: right;
}
.nice{
    float: contour;
    position: center;
}
.meniu ul{
    display:flex;
  justify-content: space-around;
}