body{
    background-image: url("vacation.jpg");
    color: #5b6353;
    font-family: "Times New Roman";
    font-size: medium;
    text-align: justify-all;
    text-decoration:dotted;
    text-transform: initial;
    letter-spacing: normal;
    line-height: normal;
    direction: ltr;
}